{{#resume.basics}}
	<header id="header" class="clear">
		{{#if image}}
		<img class="image" src="{{image}}" alt="{{name}}" />
		<div class="middle">
			<h1 class="name">{{name}}</h1>
			<h2 class="label">{{label}}</h2>
		</div>
		{{else}}
		<div>
			<h1 class="name">{{name}}</h1>
			<h2 class="label">{{label}}</h2>
		</div>
		{{/if}}

		{{#location}}
		<span class="location">
			{{#if address}}
			<span class="address">{{address}},</span>
			{{/if}}
			{{#if postalCode}}
			<span class="postalCode">{{postalCode}},</span>
			{{/if}}
			{{#if city}}
			<span class="city">{{city}},</span>
			{{/if}}
			{{#if region}}
			<span class="region">{{region}}</span>
			{{/if}}
			{{#if countryCode}}
			<span class="countryCode">{{countryCode}}</span>
			{{/if}}
		</span>
		{{/location}}

		{{#birthDate birth}}
		{{/birthDate}}

		<div id="contact">
			{{#if website}}
			<div class="website">
				<span class="fa-solid fa-up-right-from-square"></span>
				<a class="hide-href-print" target="_blank" target="_blank" href="{{website}}">{{website}}</a>
			</div>
			{{/if}}
			{{#if email}}
			<div class="email">
				<span class="fa-regular fa-envelope"></span>
				<a class="hide-href-print" href="mailto:{{email}}">{{email}}</a>
			</div>
			{{/if}}
			{{#if phone}}
			<div class="phone">
				<span class="fa-solid fa-mobile-screen-button"></span>
				<a class="hide-href-print" href="tel:{{phone}}">{{phone}}</a>
			</div>
			{{/if}}
		</div>

		{{#if profiles.length}}
		<div id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<div class="username">
					<span class="fa-brands fa-{{spaceToDash network}} {{spaceToDash network}} social"></span>
					{{#if url}}
					<span class="url">
						<a target="_blank" href="{{url}}">{{username}}</a>
					</span>
					{{else}}
					<span>{{username}}</span>
					{{/if}}
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
		{{/if}}
	</header>

	{{#if summary}}
		<section class="section">
			<header>
				<h2 class="section-title">Summary</h2>
			</header>

			<section id="summary">{{paragraphSplit summary}}</section>
		</section>
	</section>
	{{/if}}

{{/resume.basics}}
